.active {
  color: tomato;
}
.link {
  text-decoration: none;
  text-align: center;
}

/* NavBar.tsx */
.NavBar {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  background: hsl(2, 100%, 97%);
  width: 100%;
  height: 100px;
  font-family: "DOSPilgiMedium";
  z-index: 100;
  overflow: hidden;
}
.NavBar_Movie {
  position: absolute;
  right: 30px;
  color: wheat;
  font-size: 30px;
}
.NavBar_logo {
  position: absolute;
  left: 0;
  color: tomato;
  scale: 2.5;
  margin-left: 100px;
}
.NavBar_Movie_type {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 30px;
  color: tomato;
  font-weight: bold;
  transition: 0.3s;
}
.NavBar_Movie_type:hover {
  position: relative;
  color: black;
  margin-left: 50px;
  cursor: pointer;
}

/* 솜 같은 것 */
.home__shape_small {
  position: absolute;
  left: 25rem;
  bottom: 4.5rem;
  background-color: hsl(2, 100%, 80%);
  height: 200px;
  width: 200px;
  border-radius: 50%;
  filter: blur(50px);
}
